
@{
    ViewBag.Title = "Mvc Model kullanımı ve Model Binding";
}

<h1>Mvc Model kullanımı ve Model Binding</h1>

<p>Classları Mvc de model olarak tanımlayıp veri taşımada kullanabilmekteyiz.</p>

<p>1 Sayfada 1  tane model classı kullanabilmekteyiz.</p>

<p>1 Viev a model tanımlamak için sayfanın em üstüne @@ ifadesinden sonra ilgili class adını yazmalkıyız.</p>



